# Dependencies
node_modules/
client/node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage

# Production build
/build
/client/build
/dist
/client/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Supabase
.supabase/

# Misc
.cache/
*.tsbuildinfo
.next/
out/
.vercel
**/node_modules

# Firebase / Google services config
mobile/google-services.jsonmobile/google-services.json
